.supportcase__task-selected-cases-subject {
  display: block;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 18px;
  padding-left: 2px;
}

.supportcase__task-selected-cases-id {
  display: block;
  line-height: 18px;
  padding-left: 2px;
}

.supportcase__task-selected-cases-wrap {
  padding: 10px;
}
