/*
    Styles for dashboard
    Prefix: scd__
    (Support Case Dashboard)
*/

.scd__button-go-to-advanced-search {
  display: none;
}

.scd__search-block.scd__search-by-case-id-mode .scd__button-go-to-advanced-search {
  display: block;
}

.scd__search-block.scd__search-by-case-id-mode .scd__button-go-to-case-id-search {
  display: none;
}

.scd__search-block.scd__search-by-case-id-mode .scd__search-by-case-id-wrap {
  display: block;
}

.scd__search-by-case-id-wrap {
  display: none;
}

.scd__search-block.scd__search-by-case-id-mode .scd__search-filters-wrap {
  display: none;
}

.scd__search-item {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 300px;
  flex-wrap: wrap;
}

.scd__checkbox-search-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.scd__date-picker-fix-table td,
.scd__date-picker-fix-table tr,
.scd__date-picker-fix-table {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.scd__case-row-icons {
    display: flex !important;
    align-items: center;
    gap: 5px;
}

.scd__case-contact-item {
  display: flex;
  gap: 5px;
}

.scd__case-select-row-column {
    width: 80px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.scd__result-block .scd__case-row.crm-case-status_Spam > td {
    background: #dadada !important;
}

.scd__result-block .scd__case-row.crm-case-status_Resolved > td {
    background: #e2ffe2 !important;
}

.scd__result-block .scd__case-row.crm-case-status_Forwarded > td {
    background: #dce6fe !important;
}

.scd__empty-result-wrap {
  display: none;
}

.crm-container .scd__result-block .scd__case-subject-column-wrap {
    max-width: 220px;
    line-height: 18px;
}

.crm-container .scd__result-block .scd__case-subject-column-wrap > span {
    word-wrap: break-word;
    word-break: break-all;
}

.scd__view-activities-column-wrap {
    max-width: 30px;
}

.scd__case-client-column-wrap {
    max-width: 210px;
}

.scd__recent-communication-column-wrap {
    max-width: 590px;
}

@media screen and (max-width: 1450px) {
    .scd__recent-communication-column-wrap {
        max-width: 400px;
    }
}

.scd__case-id-column-wrap {
    font-weight: 600;
    font-size: 15px;
    max-width: 70px;
}

.scd__case-id-column-wrap > span {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px !important;
    display: block;
}

.scd__case-select-column-wrap {
    max-width: 50px;
    font-weight: 600;
    font-size: 16px;
}

.scd__case-ico.scd__case-ico-grey {
    color: #aaaaaa;
}

.scd__case-ico.scd__case-ico-urgent {
    color: rgb(213, 64, 64);
}

.scd__case-ico.scd__case-ico-resolved {
    color: rgb(33, 135, 43);
}

.scd__case-ico.fa-lock {
    color: rgb(82, 82, 82);
}

.scd__case-ico.fa-unlock {
    color: rgb(33, 135, 43);
}

.scd__case-select-row-checkbox {
    display: block;
}

.scd__case-select-row-checkbox > input[type="checkbox"] ,
#supportcaseToggleSelectCases {
    width: 20px;
    height: 20px;
    margin: 0 !important;
    display: block;
}

.scd__case-assignee-column-wrap {
  width: 210px;
}

.scd__bottom-pagination-wrap {
    border-bottom: 1px solid #e8eef0;
    padding: 10px;
    margin: 0;
    flex-direction: row-reverse;
    display: flex;
}

.scd__recent-communication-details {
    margin: 0;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    background: transparent;
    border: none !important;
    line-height: 18px !important;
}

.scd__recent-communication-details:before,
.scd__recent-communication-details:after {
    color: inherit;
    font-size: 15px;
    margin: 0 5px 0 0;
    line-height: 15px !important;
    vertical-align: 0;
}

.scd__recent-communication-details:before {
    content: "\201C";
}

.scd__recent-communication-details:after {
    content: "\201D";
}

.scd__recent-communication-meta {
    font-size: 11px;
}

.scd__recent-communication-meta:before {
    content: "\2014 \00A0";
}

.scd__tooltip-wrap {
  width: 700px;
}

.scd__tooltip-activity-detail {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #d3dee2;
  background: white;
}
