.supportcase__counter {
    background: #cccccc;
    border-radius: 10px;
    min-width: 10px;
    color: #fff !important;
    padding: 0 5px;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
}

.supportcase__search-filters-wrap {
    position: relative;
}

.supportcase__search-block a.supportcase__search-by-case-id-clear-button {
    display: none;
}

.supportcase__search-filters-wrap::after {
    background: rgba(255, 255, 255, 0.6);
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    z-index: 10;
}

.supportcase__search-block.searching-by-case-id .supportcase__search-filters-wrap::after {
    display: block;
}

.supportcase__search-block.searching-by-case-id .supportcase__search-by-case-id-clear-button {
    display: inline-block;
}

.supportcase__search-block {
    padding: 10px 10px;
}

.supportcase__search-block .supportcase__search-filters-wrap select,
.supportcase__search-block .supportcase__search-filters-wrap input {
    width: 100%;
    max-width: 340px;
    box-sizing: border-box;
    height: 30px;
}

.crm-container .crm-tooltip .supportcase__tooltip-wrap  .crm-summary-group {
    width: 550px;
}

.crm-container .supportcase__dashboard-search-filters-wrap .supportcase__case-tags-filter-wrap .crm-accordion-body {
    box-shadow: none;
    padding: 10px 0 0 0 !important;
}

.crm-container .supportcase__dashboard-search-filters-wrap .supportcase__case-tags-filter-wrap .crm-accordion-header {
    padding: 5px 10px;
}

.supportcase__case-tags-filter .tag-section label {
    display: block;
}

.supportcase__case-tags-filter .tag-section {
    max-width: 336px;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.supportcase__case-tags-filter {
    margin-right: -5px;
    margin-left: -5px;
}

.supportcase__case-tags-filter-wrap {
    max-width: 750px;
}

.supportcase__search-buttons .crm-submit-buttons.reset-advanced-search {
    display: inline-block;
    padding: 5px 10px;
}

.supportcase__search-buttons .supportcase__search-button-submit {
    display: inline-block;
}

.supportcase__search-buttons {
    margin-top: 20px;
}

.supportcase__dashboard-search-filters-wrap {
    max-width: 720px;
}
