.supportcase__counter {
    background: #cccccc;
    border-radius: 10px;
    min-width: 10px;
    color: #fff !important;
    padding: 0 5px;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
}

.supportcase__search-filters-wrap {
    position: relative;
}

.supportcase__search-filters-wrap::after {
    background: rgba(255, 255, 255, 0.6);
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    z-index: 10;
}

.supportcase__search-block .supportcase__search-filters-wrap select,
.supportcase__search-block .supportcase__search-filters-wrap input {
    width: 100%;
    max-width: 340px;
    box-sizing: border-box;
}

.crm-container .crm-tooltip .supportcase__tooltip-wrap  .crm-summary-group {
    width: 550px;
}

.supportcase__tooltip-activity-detail {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #d3dee2;
    background: white;
}

.supportcase__case-tags-filter .tag-section label {
    display: block;
}

.supportcase__case-tags-filter .tag-section {
    max-width: 300px;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.supportcase__case-tags-filter-wrap {
    width: 100%;
    max-width: 920px;
}

.supportcase__case-tags-wrap {
    max-width: 300px;
}

.supportcase__case-status-column-wrap {
  min-width: 130px;
}

.crm-container table.dataTable tr td .supportcase__case-tags-wrap .supportcase__case-tag-item {
    margin: 1px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.supportcase__result-action-block {
    padding-top: 30px;
}

.supportcase__empty-result-block {
    padding: 10px;
}

.supportcase__search-block {
    max-width: 1160px;
}

.supportcase__result-block .supportcase__case-row.crm-case-status_Urgent > td {
    background: #fff2f2 !important;
}

.supportcase__result-block .supportcase__case-row.crm-case-status_Spam > td {
    background: #e7e7e7 !important;
}

.supportcase__result-block .supportcase__case-row.crm-case-status_Resolved > td {
    background: #e2ffe2 !important;
}

.supportcase__result-block .supportcase__case-row.crm-case-status_Forwarded > td {
    background: #dce6fe !important;
}

.supportcase__search-by-case-id-wrap {
    display: none;
}

.supportcase__search-item-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 10px;
    padding-bottom: 10px;
}

.supportcase__search-item {
    width: 300px;
}

.supportcase__search-item.supportcase--column-150-width {
    width: 150px;
}

.supportcase__search-item.supportcase--column-full-width {
    width: 300px;
}

.supportcase__search-item.supportcase--column-full-width {
    width: 100%;
}

.supportcase__search-table td {
    padding: 0 !important;
}

.supportcase__search-block.supportcase__search-by-case-id-mode .supportcase__search-by-case-id-wrap {
    display: block;
}

.supportcase__search-block .supportcase__toggle-filter-button-params-text {
    display: none;
}

.supportcase__search-block.supportcase__search-by-case-id-mode .supportcase__search-filters-wrap  {
    display: none;
}

.crm-container .supportcase__result-block .supportcase__tab-link-wrap {
    cursor: pointer;
    float: none;
    display: inline-block;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

.supportcase__tab-link-wrap.ui-tabs-active {
    cursor: default;
}

.supportcase__tab-link {
    display: block;
}

.crm-container .supportcase__result-block .supportcase__tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #d5dadc;
}

.crm-container .supportcase__result-block .supportcase__tab-link .supportcase__counter {
    font-style: normal;
    font-size: 11px;
}

.supportcase__empty-result-wrap {
    display: none;
}

.crm-container .supportcase__result-block .supportcase__case-subject-column-wrap {
    max-width: 220px;
    line-height: 18px;
}

.supportcase__view-activities-column-wrap {
    max-width: 30px;
}

.supportcase__case-client-column-wrap {
    max-width: 210px;
}

.supportcase__recent-communication-column-wrap {
    max-width: 600px;
}

.supportcase__case-id-column-wrap {
    font-weight: 600;
    font-size: 15px;
    max-width: 70px;
}

.supportcase__case-select-column-wrap {
    max-width: 50px;
    font-weight: 600;
    font-size: 16px;
}

.supportcase__case-ico {
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid rgba(211, 222, 226, 0);
}

.supportcase__unlock-button {
    cursor: pointer;
}

.supportcase__unlock-button:hover {
    cursor: pointer;
    border-color: rgba(211, 222, 226, 1);
}

.supportcase__case-ico.supportcase__case-ico-grey {
    color: #aaaaaa;
}
.supportcase__case-ico.supportcase__case-ico-urgent,
.supportcase__case-ico.supportcase__case-ico-resolved,
.supportcase__case-ico.supportcase__case-ico-forwarded,
.supportcase__case-ico.supportcase__case-ico-spam {
    padding-left: 5px;
    padding-right: 5px;
}

.supportcase__case-ico.supportcase__case-ico-urgent {
    color: rgb(213, 64, 64);
}

.supportcase__case-ico.supportcase__case-ico-resolved {
    color: rgb(33, 135, 43);
}

.supportcase__case-ico.fa-lock {
    color: rgb(82, 82, 82);
}

.supportcase__case-ico.fa-unlock {
    color: rgb(33, 135, 43);
}

.supportcase__case-select-row-checkbox {
    display: inline-block;
}

.supportcase__case-row-icons {
    display: inline-block;
}

.supportcase__case-select-row-column {
    width: 70px;
}

.supportcase__search-block .supportcase__search-filters-wrap .supportcase__is-case-deleted-search-filter input {
    width: 30px;
    height: 30px;
    margin-top: 0px;
}

.supportcase__top-pagination-wrap,
.supportcase__bottom-pagination-wrap {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.supportcase__bottom-pagination-wrap {
    border-bottom: 1px solid #e8eef0;
    margin: 0 10px 0 0;
}

.supportcase__top-pagination-wrap {
    margin-bottom: 10px;
}

.supportcase__top-pagination-wrap .crm-pager,
.supportcase__bottom-pagination-wrap .crm-pager {
    box-shadow: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

.supportcase__top-pagination-wrap .crm-pager {
    max-width: 700px;
}

.supportcase__top-pagination-wrap .clear,
.supportcase__bottom-pagination-wrap .clear {
    display: none;
}

.crm-container .supportcase__result-block .ui-tabs .supportcase__tab-link-wrap:first-child {
    margin-left: 10px;
}

.supportcase__result-table-wrap {
    margin-bottom: 20px;
}

.supportcase__result-table-wrap > table {
    box-shadow: none !important;
}

.supportcase__recent-communication-details {
    margin: 0;
    line-height: 1.1;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.supportcase__recent-communication-details:before {
  content: "\201C";
}

.supportcase__recent-communication-details:after {
  content: "\201D";
}

.supportcase__recent-communication-meta {
    font-size: 11px;
}

.supportcase__recent-communication-meta:before {
    content: "\2014 \00A0";
}

.supportcase__case-assignee-column-wrap {
    width: 210px;
}

.supportcase__case-contact-item {
    padding-bottom: 5px;
    line-height: 20px;
}

.supportcase__case-contact-item-line {
    display: block;
}

.supportcase__search-buttons {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.supportcase__button-go-to-advanced-search {
    display: none;
}

.supportcase__search-block.supportcase__search-by-case-id-mode .supportcase__button-go-to-advanced-search {
    display: block;
}

.supportcase__search-block.supportcase__search-by-case-id-mode .supportcase__button-go-to-case-id-search {
    display: none;
}

#page-title,
#branding,
#breadcrumb,
#content > .section > .tabs {
    display: none !important;
}

#content > .section > .region-content > .block .content {
    margin-top: 0;
}

.page-civicrm, #page {
 background: white !important;
}
