.supportcase__counter {
    background: #cccccc;
    border-radius: 10px;
    min-width: 10px;
    color: #fff !important;
    padding: 0 5px;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
}

.supportcase__search-filters-wrap {
    position: relative;
}

.supportcase__search-block a.supportcase__search-by-case-id-clear-button {
    display: none;
}

.supportcase__search-filters-wrap::after {
    background: rgba(255, 255, 255, 0.6);
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    z-index: 10;
}

.supportcase__search-block.searching-by-case-id .supportcase__search-filters-wrap::after {
    display: block;
}

.supportcase__search-block.searching-by-case-id .supportcase__search-by-case-id-clear-button {
    display: inline-block;
}

.supportcase__search-block .supportcase__search-filters-wrap select,
.supportcase__search-block .supportcase__search-filters-wrap input {
    width: 100%;
    max-width: 340px;
    box-sizing: border-box;
}

.crm-container .crm-tooltip .supportcase__tooltip-wrap  .crm-summary-group {
    width: 550px;
}

.supportcase__case-tags-filter .tag-section label {
    display: block;
}

.supportcase__case-tags-filter .tag-section {
    max-width: 336px;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.supportcase__case-tags-filter-wrap {
    max-width: 700px;
}

.supportcase__search-buttons .crm-submit-buttons.reset-advanced-search {
    display: inline-block;
}

.supportcase__search-buttons .supportcase__search-button-submit {
    display: inline-block;
}

.supportcase__case-tags-wrap {
    max-width: 300px;
}

.crm-container table.dataTable tr td .supportcase__case-tags-wrap .supportcase__case-tag-item {
    margin: 1px;
}

.supportcase__result-action-block {
    padding-top: 30px;
}

.supportcase__empty-result-block {
    padding: 10px;
}

.supportcase__search-block {
    max-width: 720px;
}

.supportcase__result-block .supportcase__case-row.supportcase__case-row-urgent > td {
    background: #fff2f2 !important;
}
