
.supportcase__case-tags-filter .tag-section {
    width: 300px;
}

.crm-container .supportcase__result-block .supportcase__tab-link-wrap {
    margin: 0 1px;
    padding: 12px;
}

.supportcase__top-pagination-wrap {
    background-color: #f5f6f1;
}

.crm-container .supportcase__result-block .supportcase__tabs {
    padding: 15px 0 0 0;
}
