.supportcase__search-buttons .crm-submit-buttons.reset-advanced-search {
    margin: 0;
}

.supportcase__search-block .supportcase__search-filters-wrap select,
.supportcase__search-block .supportcase__search-filters-wrap input {
    height: 24px;
    max-width: 230px;
}

.supportcase__search-block .supportcase__search-filters-wrap .crm-case-common-form-block-case_keyword input {
    height: 28px;
}

.supportcase__search-buttons {
    margin-top: 15px;
    margin-left: 5px;
    display: flex;
}

.supportcase__case-tags-filter .tag-section {
    max-width: 320px;
}

.crm-container .supportcase__result-block .supportcase__tab-link-wrap {
    margin: 0 1px;
    padding: 12px;
}

.supportcase__top-pagination-wrap {
    background-color: #f5f6f1;
}
