.supportcase__result-block .ui-tabs .ui-corner-top.ui-tabs-active {
    z-index: 10;
}

.crm-container .supportcase__dashboard-search-filters-wrap .supportcase__case-tags-filter-wrap .crm-accordion-header {
    padding: 5px 10px;
}

.crm-container .supportcase__dashboard-search-filters-wrap .supportcase__case-tags-filter-wrap .crm-accordion-body {
    box-shadow: none;
    padding: 10px 0 0 0 !important;
}

.supportcase__search-buttons .crm-submit-buttons.reset-advanced-search {
    padding: 5px 10px;
}

.supportcase__search-block {
    padding: 10px 10px;
}

.supportcase__search-block .supportcase__search-filters-wrap select,
.supportcase__search-block .supportcase__search-filters-wrap input {
    height: 30px;
}

.supportcase__search-buttons {
    margin-top: 10px;
}

.supportcase__case-tags-filter {
    margin-right: -5px;
    margin-left: -5px;
}

.supportcase__case-tags-filter .case-tagset .select2-choices {
    box-shadow: none !important;
}

.supportcase__result-action-block .select2-choice {
    box-shadow: none !important;
}

.supportcase__search-block .supportcase__search-filters-wrap .crm-absolute-date-range input {
    max-width: 100px;
}

.supportcase__search-block .supportcase__search-filters-wrap .crm-absolute-date-range .crm-error {
    display: block;
    margin: 10px 0;
}

.supportcase__case-tags-filter-wrap {
    margin-top: 6px;
}

.supportcase__result-block .crm-child-row .dataTables_wrapper {
    box-shadow: none;
    margin: 0;
}

.crm-container .supportcase__result-block .crm-child-row > td {
    background: #ced2d4 !important;
    padding: 10px;
}

.crm-container .supportcase__result-block .dataTables_wrapper .crm-datatable-pager-top {
    padding-bottom: 46px;
}

.crm-container .supportcase__result-block .dataTables_wrapper table.crm-ajax-table {
    width: 100%;
}

.crm-container .supportcase__result-block table.dataTable .supportcase__result-table-first-column {
    padding-left: 15px;
}

.crm-container .supportcase__result-block .ui-tabs .supportcase__tab-link-wrap {
    padding: 0;
    margin: 0 1px;
}

.crm-container .supportcase__result-block .ui-tabs .supportcase__tab-link-wrap .supportcase__tab-link {
    padding: 12px !important;
}

.crm-container .supportcase__result-block a.sorting_asc::after,
.crm-container .supportcase__result-block a.sorting_desc::after,
.crm-container .supportcase__result-block a.sorting::after {
    right: auto;
    padding-left: 7px;
    top: 23px;
}

.supportcase__result-table-head-column span,
.supportcase__result-table-head-column a {
    line-height: 20px;
}

.crm-container .supportcase__result-block table.dataTable .supportcase__result-table-head-column {
    padding-top: 15px;
    padding-bottom: 15px;
}

.crm-container table.dataTable tr td .supportcase__case-tags-wrap .supportcase__case-tag-item {
    line-height: 135%;
    display: block;
    float: left;
}

.crm-container  .supportcase__dashboard-search-filters-wrap .crm-accordion-header {
    padding: 7px;
}

.supportcase__top-pagination-wrap {
    background-color: white;
}

.supportcase__top-pagination-wrap {
    margin: 0 10px 10px 10px;
    max-width: 900px;
}

.crm-container.ui-dialog {
    background: white;
}

.crm-container a.crm-tooltip-down .crm-tooltip-wrapper::before {
    top: 0px;
}

.ui-dialog-content.modal-dialog.crm-ajax-container {
    padding-top: 0px !important;
}

.crm-container .supportcase__result-block .supportcase__tabs {
    padding-top: 15px;
}

.supportcase__dashboard-search-filters-wrap > .crm-block {
    box-shadow: none !important;
    margin-bottom: 0 !important;
}

.supportcase__result-block > .crm-content-block {
    box-shadow: none !important;
}

.CRM_Supportcase_Form_Dashboard.crm-search-form {
    box-shadow: 0 3px 20px 0 rgb(88 80 80 / 25%);
}

.supportcase__tabs-item {
    background: #eeeeee !important;
}

.supportcase__tabs-item.ui-tabs-active {
    background: white !important;
}
