/*
    Custom elements constructor.
    The goal is make in all extension similar elements.

    spc__[element name] - main class.
    spc--[modifier name] - modifier which uses with main class. Uses only with main class.

    Example: <div class="crm-accordion-wrapper spc__accordion spc--header-white spc--size-little">
    Example: <button class="spc__button spc--height-medium">button</button>
*/

/*
   Styling of CiviCRM Accordion:
*/

.spc__accordion > .crm-accordion-header {
  display: flex;
  background: #0071bd !important;
  color: #fff !important;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  border: none;
}

.spc__accordion.spc--header-grey .crm-accordion-header {
  background: #f6f6f6 !important;
  color: #585858 !important;
}

.spc__accordion.spc--header-grey .crm-accordion-header::before {
  color: #484848 !important;
}

.spc__accordion.spc--header-white .crm-accordion-header {
  background: white !important;
  color: #585858 !important;
}

.spc__accordion.spc--header-white .crm-accordion-header::before {
  color: #484848 !important;
}

.spc__accordion.spc--size-little .crm-accordion-header {
  font-size: 13px !important;
}

.spc__accordion.spc--size-little .crm-accordion-header::before {
  padding-right: 0 !important;
}

.spc__accordion-body-wrap {
  margin: 0 0 0 20px;
}

.spc__accordion-body-wrap.spc--body-border {
  border: 1px solid rgb(211, 222, 226);
}

.spc__accordion-body-wrap.spc--padding-right-20 {
  padding-right: 20px;
}

.spc__accordion.collapsed.spc--collapsed-head-border-bottom {
  border-bottom: 1px solid #d3dee2;
}

/*
   End Styling of CiviCRM Accordion:
*/

/*
   Supportcase Accordion
*/

.spc__accordion,
.spc__accordion-body,
.spc__accordion-header {
  box-sizing: border-box;
}


.spc__accordion.spc--collapsed .spc__accordion-body  {
  display: none;
}

.spc__accordion .spc__accordion-body  {
  display: block;
}

.spc__accordion-body.spc--padding-right-20  {
  padding-right: 20px;
}

.spc__accordion-body.spc--padding-left-20  {
  padding-left: 20px;
}

.spc__accordion-header {
  padding: 7px;
  font-size: 13px;
  position: relative;
  font-weight: 600;
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  color: #000000;
}

.spc__accordion-header::before {
  color: #000000;
}

.spc__accordion.spc--white-header > .spc__accordion-header {
  background: white;
  color: #585858;
}

.spc__accordion.spc--white-header.spc--header-with-arrows > .spc__accordion-header {
  padding-left: 21px;/* 18 + 3 */
}

.spc__accordion.spc--white-header.spc--header-with-arrows > .spc__accordion-header::before {
  color: #000000;
  left: 0;
}

.spc__accordion.spc--white-header.spc--header-with-arrows > .spc__accordion-header::before {
  color: #000000;
}

.spc__accordion.spc--blue-header > .spc__accordion-header {
  background: #0071bd;
  color: white;
}

.spc__accordion.spc--blue-header.spc--header-with-arrows > .spc__accordion-header::before {
  color: white;
}

.spc__accordion.spc--header-with-arrows:not(.spc--collapsed) > .spc__accordion-header::before {
  content: '\f107';
}

.spc__accordion.spc--header-with-arrows > .spc__accordion-header::before {
  font-style: normal;
  text-rendering: auto;
  font-size: 13px;
  content: "ï„…";
  color: white;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 7px;
  left: 7px;
  font-family: 'FontAwesome';
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-top: 3px;
  box-sizing: border-box;
}

.spc__accordion.spc--header-with-arrows > .spc__accordion-header {
  padding-left: 32px;/*   7 + 18 + 7 */
}

.spc__accordion.spc--header-big-font > .spc__accordion-header {
  font-size: 18px;
  font-weight: 600;
}

.spc__accordion.spc--header-big-font > .spc__accordion-header::before {
  font-size: 18px;
  padding-top: 2px;
}

/*
   End supportcase Accordion
*/

/*
   Button:
*/
.spc__button {
  cursor: pointer;
  box-sizing: border-box !important;
  display: block !important;
  background: #0071bd;
  color: #fff;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  border: none !important;
}

.spc__button.spc--blue {
  color: white !important;
  background: #0071bd !important;
}

.spc__button.spc--blue:hover {
  background: #005c99 !important;
}

.spc__button > .ui-button-icon {
  margin: 0 !important;
  padding-top: 1px;
}

.spc__button.spc--height-medium {
  padding: 5px 12px !important;
}

.spc__button.spc--height-medium.spc--cancel {
  padding: 4px 11px !important;
}

.spc__button.spc--height-big {
  padding: 11px 12px !important;
}

.spc__button.spc--height-big.spc--cancel {
  padding: 10px 11px !important;
}

.spc__button.spc--height-little {
  padding: 2px 5px !important;
}

.spc__button.spc--height-little.spc--cancel {
  padding: 1px 4px !important;
}

.spc__button[disabled="disabled"] {
  background: grey !important;
}

.spc__button[disabled="disabled"].spc--cancel {
  color: white !important;
  border-color: grey;
}

.spc__button.spc--bg-white-bordered {
  background: #ffffff;
  border: solid 1px #d3dee2 !important;
  color: #464354 !important;
  cursor: pointer;
  border-radius: 0;
}

.spc__button.spc--bg-white-bordered:hover {
  background: #f3f6f7;
}

.spc__button.spc--cancel {
  background: #fff !important;
  border: solid 1px #4d4d69 !important;
  color: #363342 !important;
  cursor: pointer;
}

.spc__button.spc--cancel:hover {
  background: #f3f6f7 !important;
}

.spc__button.spc--icon {
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 50% !important;
  transition: background 0.5s;
  background: white;
}
.spc__button.spc--icon.spc--disabled:hover,
.spc__button.spc--icon.spc--disabled {
  color: #7c8388;
}

.spc__button.spc--icon.spc--disabled:hover {
  color: #7c8388;
}

.spc__button.spc--icon.spc--disabled:hover {
  background: white;
}

.spc__button.spc--icon:hover {
  background: #f3f6f7;
}

.spc__button.spc--icon.spc--active {
  background: #f3f6f7;
}

.spc__button.spc--icon > .ui-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

/*
   End button:
*/

/*
   Table:
*/
.spc__table > thead > tr > th {
  background: whitesmoke !important;
}

.spc__table.spc--no-border {
  border: none !important;
}

.spc__table > tbody > tr td.spc--no-border {
  border: none !important;
}

.spc__table > tbody > tr.spc--border-bottom {
  border-bottom: 1px solid #e8eef0 !important;
}

.spc__table.spc--no-margin {
  margin: 0 !important;
}

.spc__table > thead > tr > th {
  background: whitesmoke !important;
}

.spc__table > thead > tr {
  border-bottom: none !important;
}

.spc__table > tbody > tr:last-child:not(.spc--border-bottom) {
  border-bottom: none !important;
}

.spc__table > tbody > tr.spc--table-grey-row {
  background: whitesmoke !important;
}

.spc__table.spc--head-little > thead > tr > th {
  padding: 3px 20px !important;
}

.spc__table > tbody > tr.spc--padding-0,
.spc__table > tbody > th.spc--padding-0,
.spc__table > tbody > tr > td.spc--padding-0,
.spc__table > tbody > th > td.spc--padding-0
{
  padding: 0 !important;
}

.spc__table > tbody > tr.spc--no-border,
.spc__table > tbody > th.spc--no-border,
.spc__table > tbody > tr > td.spc--no-border,
.spc__table > tbody > th > td.spc--no-border
{
  border: none !important;
}

.spc__table > tbody > tr > td.spc--padding-top-0,
.spc__table > tbody > tr.spc--padding-top-0 {
  padding-top: 0 !important;
}

.spc__table > tbody > tr > td.spc--padding-bottom-0,
.spc__table > tbody > tr.spc--padding-bottom-0 {
  padding-bottom: 0 !important;
}

.spc__table > tbody > tr > td.spc--padding-top-5,
.spc__table > tbody > tr.spc--padding-top-5 {
  padding-top: 5px !important;
}

.spc__table > tbody > tr > td.spc--padding-bottom-5,
.spc__table > tbody > tr.spc--padding-bottom-5 {
  padding-bottom: 5px !important;
}

.spc__table > tbody > tr > td.spc--padding-top-10,
.spc__table > tbody > tr.spc--padding-top-10 {
  padding-top: 10px !important;
}

.spc__table > tbody > tr > td.spc--padding-bottom-10,
.spc__table > tbody > tr.spc--padding-bottom-10 {
  padding-bottom: 10px !important;
}

.spc__table > tbody > tr.spc--vertical-align-middle,
.spc__table > tbody > tr > td.spc--vertical-align-middle {
  vertical-align: middle;
}

.spc__table > tbody > tr > td.spc--width-100 {
  width: 100px;
}

/*
   End table:
*/

/*
   Inputs:
*/
.spc__input {
  box-sizing: border-box !important;
  transition: border-color 0.15s ease-in-out 0s;
  background-color: #fff;
  background-image: none;
  border: 1px solid #c2cfd8 !important;
  border-radius: 2px;
  color: #464354;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  height: 30px !important;
  vertical-align: middle;
  box-shadow: none !important;
  margin: 0 !important;
}

.spc__input:focus {
  border-color: #66afe9 !important;
  outline: 0;
}

.spc__input.spc--width-100-percent {
  width: 100% !important;
}

.spc__input.spc--width-90 {
  width: 90px !important;
}

.spc__input.ng-invalid-required:not(.spc--multiple-select, .spc--single-select),
.spc__input.ng-invalid:not(.spc--multiple-select, .spc--single-select) {
  border-color: #cf3458 !important;
}

.spc__input.spc--multiple-select {
  height: auto !important;
  min-height: 30px !important;
  border: none !important;
}

.spc__input.ng-invalid-required.spc--single-select .select2-choices,
.spc__input.ng-invalid.spc--single-select .select2-choice,
.spc__input.ng-invalid-required.spc--multiple-select .select2-choices,
.spc__input.ng-invalid.spc--multiple-select .select2-choice
{
  border-color: #cf3458 !important;
}

.spc__input.spc--single-select {
  border: none !important;
}

.spc__input.spc--single-select .select2-choice,
.spc__input.spc--single-select .select2-choices,
.spc__input.spc--multiple-select .select2-choice,
.spc__input.spc--multiple-select .select2-choices {
  box-shadow: none !important;
}

.spc__input.spc--textarea {
  height: auto !important;
  min-height: 60px !important;
}

/*
   End input
*/


/*
   Other:
*/

.spc--max-width-500 {
  max-width: 500px;
}

/*
   End other:
*/


/*
   Grid:
*/

.grid__flex-space-between {
  display: flex;
  justify-content: space-between;
}

/*
   End grid:
*/

/*
   Form:
*/

.spc__form-wrap {
  padding: 20px 10px 0 10px;
}

.spc__form-block {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.spc__form-input-label {
  width: 200px;
  text-align: right ;
}

.spc__form-input-html {
  width: 300px;
}

.spc__form-input-html .crm-error {
  display: block;
  margin-top: 5px;
}

/*
   End form:
*/

/*
   Pagination:
*/

.spc__pagination {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin: 0;
  gap: 20px;
}

.spc__pagination .crm-pager {
  box-shadow: none;
  margin: 0;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  line-height: 1 !important;
  background: white;
}

.spc__pagination > .form-item {
  float: none !important;
  display: flex;
  align-items: center;
  line-height: 1 !important;
  background: white;
}

.spc__pagination > .form-item > label {
  white-space: nowrap;
  padding: 0 !important;
  margin: 0 !important;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: normal !important;
}

.spc__pagination > .crm-pager > .element-right > span.ui-spinner {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 14px;
}

.spc__pagination .clear {
  display: none;
}

.spc__pagination .crm-pager .crm-hover-button {
  top: 0 !important;
  font-size: 14px;
}

.spc__pagination .crm-pager-nav {
  padding: 0 !important;
  margin: 0 !important;
  float: none !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.spc__pagination .element-right {
  padding: 0 !important;
  margin: 0 !important;
  display: block !important;
  float: none !important;
  font-size: 14px !important;
}

/*
   End pagination:
*/

.spc__hide {
  display: none !important;
}
