.supportcase-manage-case-module-wrap .crm-accordion-wrapper .crm-accordion-header {
    padding: 7px;
}

.supportcase-manage-case-module-wrap .crm-accordion-wrapper .crm-accordion-body {
    box-shadow: none !important;
}

.crm-container .supportcase-manage-case-module-wrap .crm-accordion-header:not(.crm-master-accordion-header)+.crm-accordion-body {
    padding: 0 !important;
}

.supportcase-manage-case-module-wrap input {
    box-sizing: border-box;
}

.supportcase-ico {
    color: #464354;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.supportcase-ico:hover {
    color: #464354;
}

.supportcase-ico.supportcase-ico-grey {
    color: #aaaaaa;
}

.supportcase-ico.supportcase-ico-grey:hover {
    color: #aaaaaa;
}

.crm-container .supportcase-manage-case-module-wrap .crm-form-block {
    box-shadow: none;
    margin-bottom: 0;
}

.crm-container .mp__manage-panel .crm-section {
    margin-bottom: 0;
}

.crm-container .mp__manage-panel .crm-submit-buttons {
    padding: 20px 0 0 0;
}

.crm-container .button__cancel {
    background: #fff;
    border: solid 1px #4d4d69;
    color: #363342 !important;
    cursor: pointer;
}

.crm-container .button__cancel:hover {
    background: #f3f6f7;
}

.crm-container input.input__text {
    height: 30px;
    box-sizing: border-box;
}
