/*
    Styles to hide all civicrm UI in 'manage case' Angular page
    which is loaded in iframe
*/

body.manage-case-page #page-title {
    margin: 0px !important;
}

body.manage-case-page #header,
body.manage-case-page #main-content,
body.manage-case-page #page-title,
body.manage-case-page .tabs,
body.manage-case-page #footer,
body.manage-case-page #content > .section .tabs,
body.manage-case-page #civicrm-footer,
body.manage-case-page #footer-wrapper,
body.manage-case-page #access.footer,
body.manage-case-page .column.sidebar,
body.manage-case-page #sidebar-first,
body.manage-case-page #branding,
body.manage-case-page #toolbar,
body.manage-case-page #crm-main-content-wrapper > .messages.status  {
    display: none !important;
}

body.manage-case-page {
    background: white !important;
}

body.manage-case-page #main, #content {
    width: 100% !important;
    margin: 10px 0 0 0!important;
}

body.manage-case-page #page {
    margin-right : 0 !important;
    margin-left : 0 !important;
    padding : 0 !important;
}
body.manage-case-page.crm-menubar-visible.crm-menubar-over-cms-menu.crm-menubar-wrapped {
    padding-top: 0 !important;

}
@media (min-width: 768px) {
    body.manage-case-page.crm-menubar-visible.crm-menubar-over-cms-menu {padding-top: 0px !important;}
}
