/*
    Styles to hide all civicrm UI in 'manage case' Angular page
    which is loaded in iframe
*/

#page-title {
    margin: 0px !important;
}

#header, #breadcrumb, #main-content, #page-title, .tabs, #footer,
#content > .section .tabs, #civicrm-menu-nav, #civicrm-footer,
#footer-wrapper, #access.footer, .column.sidebar, #sidebar-first,
#branding, #toolbar, #crm-main-content-wrapper > .messages.status  {
    display: none !important;
}

body {
    background: white !important;
}

#main, #content {
    width: 100% !important;
    margin: 0 !important;
}

#page {
    margin-right : 0 !important;
    margin-left : 0 !important;
    padding : 0 !important;
}
body.crm-menubar-visible.crm-menubar-over-cms-menu.crm-menubar-wrapped {
    padding-top: 0px !important;

}
@media (min-width: 768px) {
    body.crm-menubar-visible.crm-menubar-over-cms-menu {padding-top: 0px !important;}
}
