<div class="ci__case-info-item sc__position-relative sc__min-width-300 clientsField">
  <div class="panel">
    <div class="panel-heading">
      <div class="sc__flex sc__justify-content-space-between sc__position-relative">
        <span>
          <span>Client</span>
          <a ng-click="showHelpInfo('About clients updating', 'id-about-clients-updating', 'CRM\/Supportcase\/Helper\/CaseInfo')" href="javascript:;" title="Help" class="helpicon"></a>
        </span>
        <div ng-show="!isEditMode" class="ci__case-info-edit-button" title="Edit client" ng-click="toggleMode();">
          <button ng-show="!isEditMode" class="btn btn-secondary sc__m-0">
            <i class="crm-i fa-pencil"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="sc__min-height-70">
        <div class="sc__position-relative" ng-show="!isEditMode">
          <div class="ci__case-info-item-content">
            <div class="ci__clients-wrap">
              <div ng-repeat="clientContactId in model['client_ids']">
                <contact-info model="clientContactId" is-search-duplicates="true"></contact-info>
              </div>
            </div>
          </div>
        </div>

        <div class="ci__case-info-edit-mode" ng-show="isEditMode">
          <div ng-show="!isDoubleConfirmMode">
            <select-contact is-required="true" search-api-params='{}' is-multiple="false" max-width="600" model="clientId"></select-contact>
          </div>

          <div class="status" ng-if="confirmationMessage.length > 1">
            <div ng-bind-html="confirmationMessage"></div>
          </div>

          <div class="ci__case-info-errors-wrap" ng-show="!isDoubleConfirmMode"></div>

          <div class="sc__flex sc__justify-content-space-between sc__mt-10">
            <button ng-show="!isNeedToShowConfirmationMessage" class="btn btn-primary sc__m-0" ng-click="editConfirm()">
              <i class="crm-i fa-check"></i>
              <span>Confirm</span>
            </button>
            <button ng-show="isNeedToShowConfirmationMessage" class="btn btn-primary sc__m-0" ng-click="updateClient()">
              <i class="crm-i fa-check"></i>
              <span>Confirm</span>
            </button>
            <button class="btn btn-secondary sc__m-0" ng-click="toggleMode()">
              <i class="crm-i fa-arrow-left"></i>
              <span>Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
