<div class="ci__case-info-item clientsField">
	<div class="ci__case-info-header">
		<div class="ci__case-info-item-label">
			<span>Clients</span>
			<a ng-click="showHelpInfo('About clients updating', 'id-about-clients-updating', 'CRM\/Supportcase\/Helper\/CaseInfo')" href="javascript:;" title="Help" class="helpicon"></a>
		</div>
		<div class="ci__case-info-edit-button" title="Edit clients" ng-click="toggleMode();setFieldFromModel();">
			<i class="crm-i fa-pencil"></i>
		</div>
	</div>

	<div class="ci__case-info-view-mode">
		<div class="ci__case-info-item-content">
			<div class="ci__clients-wrap">
				<div class="ci__client client_{{client.contact_id}}" ng-repeat="client in ctrl.model['clients']">
					<div class="ci__client-header" title="Show details" ng-click="toggleClientDescription('client_' + client.contact_id)">
						<div class="ci__client-header-ico"></div>
						<div class="ci__client-header-label" >{{client.display_name}}</div>
					</div>
					<div class="ci__client-body">
						<div class="ci__client-field-item">
							<span class="ci__client-field-item-label">email:</span>
							<span class="ci__client-field-item-value">{{client.email}}</span>
						</div>
						<div class="ci__client-field-item">
							<span class="ci__client-field-item-label">link:</span>
							<span class="ci__client-field-item-value">
								<a href="{{client.link}}" target="_blank">{{client.display_name}}</a>
							</span>
						</div>
						<div class="ci__client-field-item">
							<span class="ci__client-field-item-label">Birth date:</span>
							<span class="ci__client-field-item-value">{{client.birth_date}}</span>
						</div>
						<div class="ci__client-field-item">
							<span class="ci__client-field-item-label">Has bpk:</span>
							<span class="ci__client-field-item-value">{{client.is_has_bpk}}</span>
						</div>
						<div class="ci__client-field-item">
							<span class="ci__client-field-item-label">Tags:</span>
							<span class="ci__client-field-item-value">
								<div class="ci__tags-wrap">
									<div ng-repeat="tag in client.tags" class="crm-tag-item ci__tag"
										 style="{{generateStyles(tag['color'])}}"
										 title="{{tag['description']}}">
										{{tag['name']}}
									</div>
									<div class="clear"></div>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ci__case-info-edit-mode">
		<div class="crm-section">
			<input class="crm-form-select" ng-model="clientId" placeholder="- none -" data-select-params='{"multiple":false}' data-api-entity="contact" type="text" />
		</div>

		<div class="ci__case-info-errors-wrap"></div>

		<div class="ci__case-info-edit-mode-buttons">
			<button class="ci__case-info-edit-confirm" ng-click="editConfirm()">confirm</button>
			<button class="button__cancel"  ng-click="toggleMode()">cancel</button>
		</div>
	</div>
</div>
