<div class="ci__case-info-item sc__position-relative sc__min-width-300 relatedContactsField">
  <div class="panel sc__m-0">
    <div class="panel-heading">
      <div class="sc__flex sc__justify-content-space-between sc__position-relative">
        <span class="sc__flex sc__gap-5">
          <i class="crm-i fa-handshake-o"></i>
          <span>Related Contacts</span>
          <a ng-click="showHelpInfo('Related Contacts', 'id-related-contacts', 'CRM\/Supportcase\/Helper\/CaseInfo')" href="javascript:;" title="Help" class="helpicon"></a>
        </span>
        <div ng-show="!isEditMode" class="ci__case-info-edit-button" title="Edit related contacts" ng-click="toggleMode();">
          <button ng-show="!isEditMode" class="btn btn-secondary sc__m-0">
            <i class="crm-i fa-pencil"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="sc__min-height-70">
        <div class="sc__position-relative" ng-show="!isEditMode">
          <div class="ci__case-info-item-content">
            <div class="ci__clients-wrap">
              <div ng-repeat="relatedContactId in model['related_contact_data']['related_contact_ids']">
                <contact-info model="relatedContactId" is-search-duplicates="false"></contact-info>
              </div>
            </div>
          </div>
        </div>
        <div class="ci__case-info-edit-mode" ng-show="isEditMode">
          <div>
            <select-contact is-required="false" is-multiple="true" max-width="600" model="relatedContactIds"></select-contact>
          </div>

          <div class="ci__case-info-errors-wrap"></div>

          <div class="sc__flex sc__justify-content-space-between sc__mt-10">
            <button class="btn btn-primary sc__m-0" ng-click="editConfirm()">
              <i class="crm-i fa-check"></i>
              <span>Confirm</span>
            </button>
            <button class="btn btn-secondary sc__m-0" ng-click="toggleMode()">
              <i class="crm-i fa-arrow-left"></i>
              <span>Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
