<div class="ci__case-info-item categoryField">
  <div class="ci__case-info-header">
    <div ng-show="!isEditMode" class="ci__case-info-edit-button" title="Edit category" ng-click="toggleMode();">
      <i class="crm-i fa-pencil"></i>
    </div>
  </div>

  <div class="ci__case-info-view-mode" ng-show="!isEditMode">
    <div class="ci__case-info-item-content" title="Category">{{getEntityLabel(model['available_categories'], model['category_id'])}}</div>
  </div>

  <div class="ci__case-info-edit-mode" ng-show="isEditMode">
    <div>
      <select ng-model="categoryId" name="categoryField" id="categoryField" class="crm-form-select spc__input spc--single-select">
        <option ng-repeat="option in model['available_categories']" value="{{option.value}}">{{option.label}}</option>
      </select>
    </div>

    <div class="ci__case-info-errors-wrap"></div>

    <div class="ci__case-info-edit-mode-buttons">
      <button class="btn btn-primary" ng-click="editConfirm()">
        <i class="crm-i fa-check"></i>
        <span>Confirm</span>
      </button>
      <button class="btn btn-secondary" ng-click="toggleMode()">
        <i class="crm-i fa-arrow-left"></i>
        <span>Cancel</span>
      </button>
    </div>
  </div>
</div>
