<div class="ci__case-info-item relatedContactsField">
  <div class="ci__case-info-header">
    <div class="ci__case-info-item-label">
      <span>Related Contacts</span>
    </div>
    <div ng-show="!isEditMode" class="ci__case-info-edit-button" title="Edit related contacts" ng-click="toggleMode();">
      <i class="crm-i fa-pencil"></i>
    </div>
  </div>

  <div class="ci__case-info-view-mode" ng-show="!isEditMode">
    <div class="ci__case-info-item-content">
      <div class="ci__clients-wrap">
        <div ng-repeat="relatedContactId in model['related_contact_data']['related_contact_ids']">
          <contact-info model="relatedContactId" is-search-duplicates="false"></contact-info>
        </div>
      </div>
    </div>
  </div>

  <div class="ci__case-info-edit-mode" ng-show="isEditMode">
    <div>
      <select-contact is-required="false" is-multiple="true" max-width="600" model="relatedContactIds"></select-contact>
    </div>

    <div class="ci__case-info-errors-wrap"></div>

    <div class="ci__case-info-edit-mode-buttons">
      <button class="btn btn-primary" ng-click="editConfirm()">
        <i class="crm-i fa-check"></i>
        <span>Confirm</span>
      </button>
      <button class="btn btn-secondary" ng-click="toggleMode()">
        <i class="crm-i fa-arrow-left"></i>
        <span>Cancel</span>
      </button>
    </div>
  </div>
</div>
