<div class="ci__case-info-item sc__position-relative sc__min-width-300 managerField">
  <div class="panel">
    <div class="panel-heading">
      <div class="sc__flex sc__justify-content-space-between sc__position-relative">
        <span>Managers</span>
        <div ng-show="!isEditMode" class="ci__case-info-edit-button" title="Edit managers" ng-click="toggleMode();">
          <button ng-show="!isEditMode" class="btn btn-secondary sc__m-0">
            <i class="crm-i fa-pencil"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="sc__min-height-70">
        <div class="sc__position-relative" ng-show="!isEditMode">
          <div class="ci__case-info-item-content">
            <div class="ci__clients-wrap">
              <div ng-repeat="managerContactId in model['managers_ids']">
                <contact-info model="managerContactId" is-search-duplicates="false"></contact-info>
              </div>
            </div>
          </div>
        </div>
        <div class="ci__case-info-edit-mode" ng-show="isEditMode">
          <div>
            <select-contact is-required="false" search-api-params='{"group":"support_agent","contact_type": "Individual"}' is-multiple="true" max-width="600" model="managerIds"></select-contact>
          </div>

          <div class="ci__case-info-errors-wrap"></div>

          <div class="sc__flex sc__justify-content-space-between sc__mt-10">
            <button class="btn btn-primary sc__m-0" ng-click="editConfirm()">
              <i class="crm-i fa-check"></i>
              <span>Confirm</span>
            </button>
            <button class="btn btn-secondary sc__m-0" ng-click="toggleMode()">
              <i class="crm-i fa-arrow-left"></i>
              <span>Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
