/*
    Uses on caseInfo directive and child directives:
    caseCategory, caseClients, caseSubject, caseStatus, caseStartDate, caseTags.
    Prefix-alias: ci = Case Info
*/

.ci__case-info {
    padding-bottom: 5px;
}

.ci__block-wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    padding: 10px 10px 5px 10px;
}

.ci__case-info-item-wrap {
    flex-flow: column wrap;
    width: 200px;
    box-sizing: border-box;
    vertical-align: top;
    margin: 2px;
    position: relative;
    overflow: hidden;
    background: white;
    border: 1px solid #d3dee2;
}

.ci__case-info-item {
    box-sizing: border-box;
    position: relative;
}

.ci__case-info-item-content {
    word-wrap: break-word;
}

.ci__case-info-header {
    padding: 10px 10px 5px 10px;
}

.ci__case-info-item-label {
    font-weight: bold;
}

.ci__case-info-view-mode {
    position: relative;
    padding: 5px 10px 10px 10px;
}

.ci__case-info-item.edit-mode .ci__case-info-view-mode {
    display: none;
}

.ci__case-info-item:hover .ci__case-info-edit-button {
    display: block;
}

.ci__case-info-edit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid #d3dee2;
    display: none;
}

.ci__case-info-item.edit-mode .ci__case-info-edit-button {
    display: none;
}

.ci__case-info-edit-button:hover {
    border-color: #99a4a8;
}

.ci__case-info-edit-button i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ci__case-info-edit-mode {
    padding: 10px;
    display: none;
}

.ci__case-info-edit-mode-buttons {
    justify-content: space-between;
    display: flex;
}

.ci__case-info-item.edit-mode .ci__case-info-edit-mode {
    display: block;
}

.ci__case-info-edit-mode-textarea {
    width: 100%;
    box-sizing: border-box;
}

.ci__tag {
    line-height: 135%;
    display: block;
    float: left;
    margin: 1px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ci__client-body {
    display: none;
}

.ci__client.opened .ci__client-body {
    display: block;
    padding: 5px;
}

.ci__client-field-item {
    padding-bottom: 15px;
}

.ci__client-field-item-label {
    font-weight: bold;
}

.ci__client-field-item-value {
    font-weight: normal;
}

.ci__client-header {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.ci__client-header-label {
    line-height: 30px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ci__client-header-ico {
    position: absolute;
    top: 12px;
    left: 8px;
    border: 4px solid transparent;
    border-left: 4px solid #212121;
}

.ci__client.opened .ci__client-header-ico {
    top: 14px;
    left: 6px;
    border: 4px solid transparent;
    border-top: 4px solid #212121;
}

.ci__case-info-errors-wrap {
    margin-bottom: 5px;
}

.ci__case-info-help-message {
    margin-bottom: 5px;
}

.ci__accordion-header span i {
    color: white;
}

.com__empty-result {
    padding: 20px 10px;
}
