/*
    Uses on caseInfo directive and child directives:
    caseCategory, caseClients, caseStartDate, caseTags.
    Prefix-alias: ci = Case Info
*/

.ci__case-info-item-wrap {
  position: relative;
  overflow: hidden;
}

.ci__case-info-item-wrap.ci--no-border {
  border: none;
}

.ci__case-info-item-wrap.ci--seven-items-width.ci--max-width-100,
.ci__case-info-item-wrap.ci--seven-items-width {
  width: 100%;
  max-width: 1424px;
}

.ci__case-info-item-wrap.ci--max-width-100 {
  width: 100%;
  max-width: 100px;
}

.ci__case-info-item-wrap.ci--seven-items-width.ci--max-width-100 {
  width: 100%;
  max-width: 1424px;
}

.ci__case-info-item-content {
  word-wrap: break-word;
}

.ci__case-info-item:hover .ci__case-info-edit-button {
  display: block;
}

.ci__case-info-edit-button {
  position: absolute;
  right: 0;
  display: none;
  z-index: 10;
  top: 50%;
  transform: translate(0, -50%);
}

.ci__case-info-item-tags .ci__case-info-edit-button {
  top: 0;
  transform: translate(0, 0);
}

.ci__tag {
  display: block;
  margin: 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1px 5px;
  border-radius: 3px;
  border: 1px solid grey;
}

.ci__case-info-errors-wrap {
  margin-bottom: 5px;
}
