/*
    Uses on caseInfo directive and child directives:
    caseCategory, caseClients, caseStartDate, caseTags.
    Prefix-alias: ci = Case Info
*/

.ci__case-info-item-wrap {
  position: relative;
  overflow: hidden;
}

.ci_right-block {

}

.ci_wrap {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ci__case-info-item-wrap.ci--no-border {
  border: none;
}

.ci__case-info-item-wrap.ci--seven-items-width.ci--max-width-100,
.ci__case-info-item-wrap.ci--seven-items-width {
  width: 100%;
  max-width: 1424px;
}

.ci__case-info-item-wrap.ci--max-width-100 {
  width: 100%;
  max-width: 100px;
}

.ci__case-info-item-wrap.ci--seven-items-width.ci--max-width-100 {
  width: 100%;
  max-width: 1424px;
}

.ci__case-info-item-content {
  word-wrap: break-word;
}

.ci__case-info-item:hover .ci__case-info-edit-button {
  display: block;
}

.ci__case-info-edit-button {
  position: absolute;
  right: 0;
  display: none;
  z-index: 10;
  top: 50%;
  transform: translate(0, -50%);
}

.ci__case-info-item-tags .ci__case-info-edit-button {
  top: 0;
  transform: translate(0, 0);
  left: 0;
  right: initial;
}

.ci__case-info-errors-wrap {
  margin-bottom: 5px;
}

.ci_left-contact-block {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 1500px) {
  .ci_right-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .ci_left-contact-block {
    width: 100%;
    display: block;
  }

  .ci__case-info-item {
    width: 100%;
  }
}
@media (max-width: 1740px) {
  .ci_right-block {
    max-width: 920px;
  }
}
