/*
    Uses on communication directive;
    Prefix-alias: com = communication
*/

.com__block-wrap {
    padding: 0;
}

.com__activities {
    margin-top: 5px;
}

.com__column-subject {
    max-width: 500px;
}

.com__column-created-date {
    max-width: 130px;
}

.com__column-details {
    max-width: 600px;
}

.com__meta td {
  padding: 4px 10px !important;
}

.com__meta {
  border-left: 1px solid #d3dee2 !important;
  border-right: 1px solid #d3dee2 !important;
  border-top: none !important;
  border-bottom: none !important;
}

.com__meta:first-child {
  border-top: 1px solid #d3dee2 !important;
}

.com__meta td:first-child {
  font-weight: bold;
}

.com__meta_action {
  text-align: right;
}

.com__meta_action .ui-button-icon {
  margin: 0;
}

.com__reply-table {
  border-top: 1px solid #d3dee2 !important;
  border-left: 1px solid #d3dee2 !important;
  border-right: 1px solid #d3dee2 !important;
  border-bottom: none !important;
}

.com__message {
  padding: 0 0 0 0;
}

.com__message-body {
  padding: 20px;
  height: 340px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
  border: 1px solid #d3dee2;
  position: relative;
  margin: 0 0 10px 0;
}

.com__email-activity .com__message-toggle-height-to-part {
  display: none;
}

.com__email-activity {
  border-bottom: 1px solid #d3dee2;
}

.com__email-activity:last-child {
  border-bottom: none;
}

.com__email-activity .com__message-toggle-height-to-full {
  display: block;
}

.com__email-activity.com--full-height .com__message-toggle-height-to-part {
  display: block;
}

.com__email-activity.com--full-height .com__message-toggle-height-to-full {
  display: none;
}

.com__email-activity.com--full-height .com__message-body {
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
}

.com__reply .cke_contents {
  height: 340px !important;
}

.com__reply input[type="file"] {
  padding-left: 0;
  margin: 5px 0 5px 0;
}

.com__gap {
  height: 5px;
}

.com__message-buttons {
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}

.com__message-buttons .ui-button-icon {
  margin: 0;
}

.com__errors-wrap {
  margin-top: 10px;
}

.com__communication button {
  cursor: pointer;
}

.com__attachments {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.com__attachments-item {
  background: white;
  border: 1px solid #1871bd;
  padding-left: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.com__attachments-item.com--attachment-disabled {
  color: #7c8388 !important;
  border-color: #7c8388 !important;
  background: #e0e0e0;
}

.com__attachments-item.com--attachment-disabled .com__attachments-item-name {
  color: #7c8388 !important;
}

.com__attachments-item.com--attachment-disabled .com__attachments-item-file-ico {
  color: #7c8388 !important;
}

.com__attachments-item-name {
  color: #1871bd !important;
}

.com__attachments-item-ico {
  font-size: 14px;
  color: white !important;
  cursor: pointer;
  line-height: 30px;
  padding-right: 7px;
  padding-left: 7px;
  background: #1871bd;
  width: 30px;
  box-sizing: border-box;
  height: 30px;
  border-left: 1px solid #c2cfd8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.com__attachments-item-file-ico {
  font-size: 14px;
  color: #1871bd !important;
}

.com__attachments-item-ico-wrap {
  display: flex;
}

.com__attachments-item-name {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.com__attachments.com__attachments-flex {
  display: flex !important;
}

.com__email_date {
  text-align: right;
}

.com__templates {
  position: absolute;
  left: 436px;
  top: 73px;
}

.com__reply-edit-area {
  position: relative;
  margin-bottom: 5px;
}

.com__reply-edit-area .cke_combo .cke_combo_button:hover,
.com__reply-edit-area .cke_combo .cke_combo_button {
  margin: 0 10px 0 10px !important;
  padding: 0 !important;
  background: white !important;
  border: 1px solid #c2cfd8 !important;
}

.crm-container .com__reply-edit-area .cke .cke_combo_text {
  border-color: #c2cfd8 !important;
  color: #2786C2 !important;
}

.com__reply-edit-area .cke_combo:first-child .cke_combo_button,
.com__reply-edit-area .cke_combo:first-child .cke_combo_button:hover {
  margin-left: 0 !important;
}

.com__errors-wrap {
  max-width: 300px;
}

.com__attachment-item {
  display: flex;
  background: white;
  border: 1px solid #0071bd;
}

.com__attachment-item-link {
  padding-right: 5px;
}

.com__attachment-item-delete{
  cursor: pointer;
}

.com__email-item-accordion-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.com__edit-subject-input-wrap {
  max-width: 600px;
}

.crm-container .com__reply-edit-area .cke, .crm-container .cke .cke_top, .crm-container .cke .cke_bottom {
  background: #f5f5f5;
  border-color: #d3dee2;
}

/*
    Fix email body styles.
*/
.page-civicrm-admin.page-civicrm-a .com__message-body table:not(.form-layout-compressed) tr,
.page-civicrm-a.page-civicrm-a .com__message-body table:not(.form-layout-compressed) tr,
.page-civicrm-admin.page-civicrm-a .com__message-body table:not(.form-layout-compressed),
.page-civicrm-a.page-civicrm-a .com__message-body table:not(.form-layout-compressed) {
  border: none;
}

.com__emails-block {
  background: red;
}

.com__email-info-row-name {
  width: 120px;
  color: #4d4d69;
  line-height: 18px;
  font-weight: bold;
  text-align: left;
  font-size: 13px;
}

.com__email-info-row {
  display: flex;
  padding-top: 5px;
  padding-bottom: 0;
}

.com__email-view-mode .com__email-info-row {
  padding-bottom: 5px;
}

.com__email-view-info-rows-wrap {
  display: flex;
  justify-content: space-between;
}

.com__email-info-panel-wrap {
  max-width: 380px;
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 5px;
  justify-content: flex-end;
}

.com__email-info-panel-date {
  width: 100%;
  text-align: right;
}

.com__email-info-row-value {
  width: 800px;
}

.com__email-bottom-block {

}

.com__email-top-block {
  border-top: 1px solid #d3dee2;
  border-left: 1px solid #d3dee2;
  border-right: 1px solid #d3dee2;
  padding: 5px 10px 10px 10px;
  background: whitesmoke;
}

.comm__attachment-uploader-wrap .crm-form-text {
  box-sizing: border-box !important;
  transition: border-color 0.15s ease-in-out 0s;
  background-color: #fff;
  background-image: none;
  border: 1px solid #c2cfd8 !important;
  border-radius: 2px;
  color: #464354;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  height: 30px !important;
  vertical-align: middle;
  box-shadow: none !important;
  margin: 0 !important;
}

.comm__attachment-uploader-wrap {
  border: 1px solid #d3dee2;
  padding: 10px;
  background: whitesmoke;
  margin-top: -10px;
}

.comm__attachment-uploader-wrap .filename-new {
  width: 300px;
}

.comm__attachment-uploader-wrap  .crm-attachments > table {
  max-width: 900px !important;
  border: 1px solid #d3dee2 !important;
}

.comm__attachment-uploader-wrap  .crm-attachments > table td {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 20px !important;
  border-bottom: 1px solid #d3dee2 !important;
}

.com__reply-edit-area .cke_bottom.cke_reset_all  {
  display: none !important;
}
