/*
    Uses on communication caseComment;
*/

.comments {
  width: 650px;
}

.comments pre {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

.comments__simple-view {
  display: flex;
}

.comments__item-wrap {
  padding-bottom: 10px;
}

.comments__item-wrap:hover .comments__actions {
  opacity: 1;
}

.comments__item-delete-mode,
.comments__item-edit-mode,
.comments__create-comment-wrap {

}

.comments__create-comment-wrap {
  margin-bottom: 10px;
}

.comments__header {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 0 10px 0;
}

.comments__delete-message {
  padding: 10px 10px 20px 0;
}

.comments__modified-date {
  font-style: italic;
  padding-left: 10px;
}

.comments__actions {
  display: flex;
  opacity: 0;
  gap: 5px;
}

.comments__info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
