/*
    Uses on communication directive;
    Prefix-alias: com = communication
*/

.com__block-wrap {
    padding: 0;
}

.com__activities {
    margin-top: 5px;
}

.com__column-subject {
    max-width: 500px;
}

.com__column-created-date {
    max-width: 130px;
}

.com__column-details {
    max-width: 600px;
}

.com__meta td {
  padding: 4px 10px !important;
}

.com__meta td:first-child {
  font-weight: bold;
}

.com__meta_action {
  text-align: right;
}

.com__meta_action .ui-button-icon {
  margin: 0;
}

.com__message {
  padding: 0 0 0 0;
}

.com__message-body {
  padding: 20px;
  height: 340px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
  border-left: 1px solid #e8eef0;
  border-right: 1px solid #e8eef0;
  border-bottom: 1px solid #e8eef0;
  position: relative;
  margin: 0 0 20px 0;
}

.com__email-activity .com__message-toggle-height-to-part {
  display: none;
}

.com__email-activity .com__message-toggle-height-to-full {
  display: block;
}

.com__email-activity.com--full-height .com__message-toggle-height-to-part {
  display: block;
}

.com__email-activity.com--full-height .com__message-toggle-height-to-full {
  display: none;
}

.com__email-activity.com--full-height .com__message-body {
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
}

.com__message, .com__reply {
  border-bottom: none !important;
}

.com__reply .cke_contents {
  height: 340px !important;
}

.com__reply input[type="file"] {
  padding-left: 0;
  margin: 5px 0 10px 0;
}

.com__gap {
  height: 5px;
}

.com__message-buttons > td {
  padding-left: 0 !important;
}

.com__message-buttons td {
  padding-top: 0 !important;
}

.com__message-buttons .ui-button-icon {
  margin: 0;
}

.com__communication button {
  cursor: pointer;
}

.com__attachments {
  display: inline !important;
  list-style: none !important;
  margin: 0 !important;
}

.com__attachments li {
  display: inline !important;
  padding-right: 10px;
}

.com__email_date {
  text-align: right;
}

.com__templates {
  position: absolute;
  left: 436px;
  top: 73px;
}

.com__reply-edit-area {
  position: relative;
}

.com__email-item-accordion-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.com__edit-subject-input-wrap {
  max-width: 600px;
}
