/*
    Uses on managePanel directive
    Prefix-alias: mp  = managePanel
*/

.mp__button {
    cursor: pointer;
}

.mp__button .ui-icon {
  margin: 0;
}

.crm-container .mp__manage-panel .crm-section {
    margin-bottom: 0;
}

.crm-container .mp__manage-panel .crm-submit-buttons {
    padding: 20px 0 0 0;
}
