/*
    Uses on managePanel directive
    Prefix-alias: mp  = managePanel
*/

.mp__manage-panel {
    padding-bottom: 10px;
}

.mp__buttons-wrap {
    display: flex;
    gap: 10px;
}

.mp__changing-status-confirm-inline-window .md__wrap {
  border: 1px solid #d3dee2;
  max-width: 460px;
  margin-top: 10px;
}

