/*
  Prefix-alias: md = modal-window
*/

.md__title {
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.md__buttons {
  display: flex;
  justify-content: space-between;
}
