/*
    Uses on quickActions directive
    Prefix-alias: qa = quickActions
*/

.qa__panel-wrap {
  max-width: 300px;
}

.qa__preloader {
  display: none;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 20px;
}

.qa__preloader.active {
  display: block;
}
