/*
    Uses on selectEmail directive
    Prefix-alias: se  = selectEmail
*/

.se__color-blue {
  color: #1871bd;
}

.se__select-email .Individual-icon::before {
  content: "";
  margin-left: 2px;
}

.se__select-email .Household-icon::before {
  content: "";
  margin-left: 0;
}

.se__select-email .Organization-icon::before {
  content: "";
  margin-left: 2px;
}

.se__select-email .crm-select2-icon,
.se__select-email .crm-select2-icon,
.se__select-email .crm-select2-icon {
  display: inline-block;
  padding-right: 5px;
}

.se__select-email .Individual-icon::before,
.se__select-email .Household-icon::before,
.se__select-email .Organization-icon::before {
  display: block;
  font-family: 'FontAwesome';
  font-size: 14px;
}
