<h1 crm-page-title>{{ts('Manage Case')}}</h1>

<div class="supportcase-manage-case-module-wrap">
  <div class="crm-form-block">
    <div ng-if="!isError && !isCaseLocked">
      <div>
        <manage-panel model='caseInfo'></manage-panel>
      </div>
      <div>
        <case-info model='caseInfo'></case-info>
        <communication model='caseInfo'></communication>
        <quick-actions model='caseInfo'></quick-actions>
        <activities model='caseInfo'></activities>
        <recent-cases model='caseInfo'></recent-cases>
      </div>
    </div>

    <div ng-if="isError">
      <div class="supportcase-manage-case-error-button-wrap">
        <a class="spc__button spc--height-big spc--blue" href="{{backUrl}}" title="Back to dashboard">
          <span class="ui-button-icon ui-icon fa-arrow-left"></span>
          <span class="ui-button-icon-space"> </span>
          <span>Back to the Support Dashboard</span>
        </a>
      </div>
      <div class="crm-error">{{errorMessage}}</div>
    </div>

    <div ng-if="isCaseLocked">
      <div class="supportcase-manage-case-error-button-wrap">
        <a class="spc__button spc--height-big spc--blue" href="{{backUrl}}" title="Back to dashboard">
          <span class="ui-button-icon ui-icon fa-arrow-left"></span>
          <span class="ui-button-icon-space"> </span>
          <span>Back to the Support Dashboard</span>
        </a>
      </div>

      <div class="crm-error">
        <div ng-if="caseInfo.lock_message">
          {{caseInfo.lock_message}}
        </div>
        <div ng-if="!caseInfo.lock_message">
          This case may have been opened in another window and/or by a different user.
          <br />
          Please refresh the page to see if any changes were made.
        </div>
      </div>
    </div>

  </div>
</div>
