<div id="bootstrap-theme">
  <h1 crm-page-title>
    <div class="sc__flex sc__gap-10 sc__align-items-center">
      <del ng-if="caseInfo['is_deleted'] == 1"><span>{{ts('Support Case Case #%0: %1', [caseInfo['id'], caseInfo['subject']])}}</span></del>
      <span ng-if="caseInfo['is_deleted'] == 0">{{ts('Support Case #%0: %1', [caseInfo['id'], caseInfo['subject']])}}</span>
      <span class="sc__flex sc__flex-direction-column sc__max-width-300">
        <span class="sc__font-size-14">Started: {{formatDateAndTime(caseInfo['start_date'], false)}}</span>
        <span ng-if="caseInfo['end_date']" class="sc__font-size-14">Ended: {{formatDateAndTime(caseInfo['end_date'], false)}}</span>
      </span>
    </div>
  </h1>

  <div class="sc__page-wrap">
    <div class="crm-form-block">
      <div ng-if="!isError && !isCaseLocked">
        <case-info model='caseInfo'></case-info>
        <communication model='caseInfo'></communication>
        <quick-actions model='caseInfo'></quick-actions>
        <activities model='caseInfo'></activities>
        <recent-cases model='caseInfo'></recent-cases>
      </div>

      <div ng-if="isError">
        <div class="supportcase-manage-case-error-button-wrap">
          <a class="btn btn-secondary" href="{{backUrl}}" title="Back to dashboard">
            <i class="crm-i fa-arrow-left"></i>
            <span>Back to the Support Dashboard</span>
          </a>
        </div>
        <div class="crm-error">{{errorMessage}}</div>
      </div>

      <div ng-if="isCaseLocked">
        <div class="supportcase-manage-case-error-button-wrap">
          <a class="btn btn-secondary" href="{{backUrl}}" title="Back to dashboard">
            <i class="crm-i fa-arrow-left"></i>
            <span>Back to the Support Dashboard</span>
          </a>
        </div>

        <div class="crm-error">
          <div ng-if="caseInfo.lock_message">
            {{caseInfo.lock_message}}
          </div>
          <div ng-if="!caseInfo.lock_message">
            This case may have been opened in another window and/or by a different user.
            <br />
            Please refresh the page to see if any changes were made.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
