<div class="act__activities">
  <details class="crm-accordion-bold">
    <summary>Activities  {{'[' + activities['length'] + ']'}}</summary>
    <div class="crm-accordion-body sc__accordion-body">
      <div class="act__block-wrap">
        <table class="crm-search-results sc__mb-0 spc__table">
          <thead>
          <tr>
            <th>Date</th>
            <th>Subject</th>
            <th>Type</th>
            <th>With</th>
            <th>Reporter</th>
            <th >Assignee</th>
            <th>Status</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="activity in activities" value="{{option.value}}" class="crm-entity">
            <td>
              <div>{{formatDateAndTime(activity.created_date, true)}}</div>
            </td>
            <td>
              <div>{{activity.subject}}</div>
            </td>
            <td>
              <div>{{activity.activity_type}}</div>
            </td>
            <td>
              <div class="sc__width-250">
                <div ng-repeat="creatorContact in activity.creator_contacts">
                  <div class="act__contact-link">
                    <a href="{{creatorContact.link}}" class="action-item crm-hover-button" target="_blank">{{creatorContact.display_name}}</a>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="act__column act__column-target-contacts">
                <div ng-repeat="targetContact in activity.target_contacts">
                  <div class="act__contact-link">
                    <a href="{{targetContact.link}}" class="action-item crm-hover-button" target="_blank">{{targetContact.display_name}}</a>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="act__column act__column-assignee-contacts">
                <div ng-repeat="assigneeContact in activity.assignee_contacts">
                  <div class="act__contact-link">
                    <a href="{{assigneeContact.link}}" class="action-item crm-hover-button act__contact-link" target="_blank">{{assigneeContact.display_name}}</a>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="act__column act__column-status">
                <div>{{activity.status}}</div>
              </div>
            </td>
            <td>
              <div class="act__column act__column-action-links">
									<span ng-repeat="actionLink in activity.action_links" class="act__action-link">
										<a href="{{actionLink.url}}" class="action-item crm-hover-button" target="_blank">{{actionLink.label}}</a>
									</span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </details>
</div>
