<div class="com__communication">
  <details class="crm-accordion-bold">
    <summary>
      <span>Communication&nbsp;</span>
      <span ng-if="(sms.count + email.count) === 0">(no messages)</span>
      <span ng-if="(sms.count + email.count) === 1">(1 message)</span>
      <span ng-if="(sms.count + email.count) > 1">{{'(' + (sms.count +  email.count) + ' messages)'}}</span>
    </summary>
    <div class="crm-accordion-body">
      <div class="com__block-wrap">
        <div ng-if="(sms.count + email.count) === 0" class="com__empty-result">
          <span>No messages</span>
        </div>

        <div spc-accordion class="spc__accordion spc--header-with-arrows">
          <div class="spc__accordion-header" ng-show="sms.count > 0">
            <span>SMS Messages {{'(' + sms.count + ')'}}:</span>
          </div>
          <div class="spc__accordion-body">
            <sms-communication model="sms"></sms-communication>
          </div>
        </div>

        <div spc-accordion class="spc__accordion spc--header-with-arrows">
          <div class="spc__accordion-header" ng-show="sms.count > 0">
            <span>Email Messages {{'(' + email.count + ')'}}:</span>
          </div>
          <div class="spc__accordion-body">
            <email-communication model="email"></email-communication>
          </div>
        </div>

      </div>
    </div>
  </details>
</div>
