<div class="com__communication">
	<div class="spc__accordion crm-accordion-wrapper collapsed">
		<div class="crm-accordion-header crm-master-accordion-header">
			<span>Communication</span>
			<span ng-if="smsActivities['length'] === 0 && emailActivities['length'] === 0">(no messages)</span>
			<span ng-if="smsActivities['length'] === 1 || emailActivities['length'] === 1">(1 message)</span>
			<span ng-if="smsActivities['length'] > 1 || emailActivities['length'] > 1">{{'(' + (smsActivities['length'] + emailActivities['length']) + ' messages)'}}</span>
		</div>
		<div class="crm-accordion-body">
			<div class="com__block-wrap">
                <div ng-if="smsActivities.length === 0 && emailActivities.length === 0" class="com__empty-result">
                    <span>No messages</span>
                </div>

                <div class="com__sms-wrap" ng-if="smsActivities.length > 0">
                    <div class="crm-accordion-wrapper spc__accordion spc--header-white spc--size-little">
                        <div class="crm-accordion-header crm-master-accordion-header">
                            <span>SMS Messages {{'(' + smsActivities['length'] + ')'}}:</span>
                        </div>
                        <div class="crm-accordion-body">
                            <div class="spc__accordion-body-wrap spc--body-border">
                                <div>
                                    <table class="crm-search-results spc__table spc--head-little">
                                        <thead>
                                        <tr>
                                            <th class="com__column-head">Subject</th>
                                            <th class="com__column-head">Details</th>
                                            <th class="com__column-head">Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="activity in smsActivities" class="crm-entity">
                                            <td>
                                                <div class="com__column com__column-subject">{{activity.subject}}</div>
                                            </td>
                                            <td>
                                                <div class="com__column com__column-details">
                                                    <show-more-text full-text="activity.details" max-text-length="300"></show-more-text>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="com__column com__column-created-date">{{formatDateAndTime(activity.created_date, true)}}</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="emailActivities.length > 0">
                    <div class="crm-accordion-wrapper spc__accordion spc--header-white spc--size-little">
                        <div class="crm-accordion-header crm-master-accordion-header">
                            <span>Email Messages {{'(' + emailActivities['length'] + ')'}}:</span>
                        </div>
                        <div class="crm-accordion-body">
                            <div class="spc__accordion-body-wrap">
                                <div>
                                    <div data-activity-id="{{activity.id}}" ng-repeat="activity in emailActivities" ng-class="{'com__email-activity-is-read' : activity['isRead']}" class="com__email-activity crm-accordion-wrapper spc__accordion spc--header-white spc--size-little spc--collapsed-head-border-bottom" >
                                        <div class="crm-accordion-header crm-master-accordion-header">
                                            <div class="com__email-item-accordion-head">
                                                <div>From: {{activity.from_name}} <{{activity.from_email}}</div>
                                                <div>{{formatDateAndTime(activity.activity_date_time, true)}}</div>
                                            </div>
                                        </div>
                                        <div class="crm-accordion-body">
                                            <div class="spc__accordion-body-wrap">
                                                <table class="crm-entity spc__table" class="crm-search-results">
                                                    <tbody>
                                                    <tr class="com__meta spc--table-grey-row" ng-show="currentReplyId != activity.id">
                                                        <td class="spc--width-100 spc--padding-bottom-0 spc--padding-top-0 spc--vertical-align-middle">From:</td>
                                                        <td>{{activity.from_name}} <{{activity.from_email}}></td>
                                                        <td class="com__meta_action">
                                                            <button class="spc__button spc--height-little" ng-click="toggleReadEmail(activity.id, true)" ng-show="!activity.isRead">
                                                                <span class="ui-button-icon ui-icon fa-eye"></span>
                                                                <span class="ui-button-icon-space"> </span>
                                                                <span>Mark as read</span>
                                                            </button>
                                                            <button class="spc__button spc--height-little" ng-click="toggleReadEmail(activity.id, false)" ng-show="activity.isRead">
                                                                <span class="ui-button-icon ui-icon fa-eye-slash"></span>
                                                                <span class="ui-button-icon-space"> </span>
                                                                <span>Mark as unread</span>
                                                            </button>
                                                            <button class="spc__button spc--height-little" ng-click="reply(activity.id)" ng-show="currentReplyId != activity.id">
                                                                <span class="ui-button-icon ui-icon fa-reply"></span>
                                                                <span class="ui-button-icon-space"> </span>
                                                                <span>Reply</span>
                                                            </button>
                                                            <button class="spc__button spc--height-little" ng-click="reply(activity.id)" ng-show="currentReplyId != activity.id">
                                                                <span class="ui-button-icon ui-icon fa-reply"></span>
                                                                <span class="ui-button-icon-space"> </span>
                                                                <span>Reply</span>
                                                            </button>
                                                            <button class="spc__button spc--height-little" ng-click="forward(activity.id)" ng-show="currentReplyId != activity.id">
                                                                <span class="ui-button-icon ui-icon fa-share"></span>
                                                                <span class="ui-button-icon-space"> </span>
                                                                <span>Forward</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr class="com__meta spc--table-grey-row" ng-show="currentReplyId != activity.id">
                                                        <td class="spc--width-100 spc--padding-bottom-0 spc--padding-top-0 spc--vertical-align-middle">Subject:</td>
                                                        <td>{{activity.subject}}</td>
                                                        <td class="com__email_date">
                                                            {{formatDateAndTime(activity.activity_date_time, true)}}
                                                        </td>
                                                    </tr>
                                                    <tr class="com__meta spc--table-grey-row" ng-show="currentReplyId != activity.id">
                                                        <td class="spc--width-100 spc--padding-bottom-0 spc--padding-top-0 spc--vertical-align-middle">To:</td>
                                                        <td>{{activity.to_name}} <{{activity.to_email}}></td>
                                                        <td class="com__meta_action">
                                                            <div class="com__message-toggle-height-to-full">                                                                    <button class=" spc__button spc--height-little" ng-click="toggleHeight(activity.id)">
                                                                <span class="ui-button-icon ui-icon fa-expand"></span>
                                                                <span class="ui-button-icon-space"> </span>
                                                                <span>To full email body</span>
                                                            </button>
                                                            </div>
                                                            <div class="com__message-toggle-height-to-part">
                                                                <button class=" spc__button spc--height-little" ng-click="toggleHeight(activity.id)">
                                                                    <span class="ui-button-icon ui-icon fa-compress"></span>
                                                                    <span class="ui-button-icon-space"> </span>
                                                                    <span>Show part email body</span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="com__meta spc--table-grey-row" ng-show="currentReplyId != activity.id && activity.attachments.length > 0">
                                                        <td class="spc--width-100 spc--padding-bottom-0 spc--padding-top-0 spc--vertical-align-middle">Attachments:</td>
                                                        <td colspan="2">
                                                            <ul class="com__attachments">
                                                                <li ng-repeat="attachment in activity.attachments">
                                                                    <a href="{{attachment.url}}">
                                                                        <i class="crm-i {{attachment.icon}}"></i> {{attachment.name}}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr class="com__message" ng-if="currentReplyId != activity.id">
                                                        <td colspan="3" class="spc--padding-0">
                                                            <div class="com__message-body">
                                                                <div ng-bind-html="activity.details_resolved"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="com__reply" ng-if="currentReplyId == activity.id">
                                                        <td crm-ui-id-scope colspan="3" class="spc--padding-0">
                                                            <div>
                                                                <table class="crm-entity spc__table crm-search-results" >
                                                                    <tbody>
                                                                    <tr class="com__meta spc--table-grey-row">
                                                                        <td class="spc--width-100 spc--padding-bottom-0 spc--padding-top-0 spc--vertical-align-middle">From:</td>
                                                                        <td class="spc--padding-bottom-0 spc--padding-top-0">
                                                                            <div>
                                                                                <select-email max-width="600" model="activity.recipients.from"></select-email>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="com__meta spc--table-grey-row">
                                                                        <td class="spc--width-100 spc--padding-bottom-0 spc--padding-top-0 spc--vertical-align-middle">To:</td>
                                                                        <td class="spc--padding-bottom-0 spc--padding-top-0">
                                                                            <div>
                                                                                <select-email max-width="600" model="activity.recipients.to"></select-email>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="com__meta spc--table-grey-row">
                                                                        <td class="spc--width-100 spc--padding-bottom-0 spc--padding-top-0 spc--vertical-align-middle">CC:</td>
                                                                        <td class="spc--padding-bottom-0 spc--padding-top-0">
                                                                            <div>
                                                                                <select-email max-width="600" model="activity.recipients.cc"></select-email>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="com__reply-edit-area">
                                                                    <div class="com__templates">
                                                                        <input mailutils-template on-select="$broadcast('insert:reply', token.name)" tabindex="-1" style="z-index:1">
                                                                    </div>
                                                                    <textarea crm-ui-id="email-reply-{{activity.id}}" crm-ui-richtext crm-ui-insert-rx="insert:reply"
                                                                        name="reply" ng-model="activity.reply" style="height: 500px" data-preset="civimail"></textarea>
                                                                </div>
                                                                <input type="file">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="com__message-buttons">
                                                        <td colspan="3">
                                                            <button class="spc__button spc--height-medium" ng-click="reply(activity.id)" ng-show="currentReplyId != activity.id">
                                                                <span class="ui-button-icon ui-icon fa-reply"></span>
                                                                <span class="ui-button-icon-space"> </span>
                                                                <span>Reply</span>
                                                            </button>
                                                            <button class="spc__button spc--height-medium" ng-click="forward(activity.id)" ng-show="currentReplyId != activity.id">
                                                                <span class="ui-button-icon ui-icon fa-share"></span>
                                                                <span class="ui-button-icon-space"> </span>
                                                                <span>Forward</span>
                                                            </button>
                                                            <button class="spc__button spc--height-medium" ng-click="send(activity)"
                                                                    ng-show="currentReplyId == activity.id">
                                                                <span class="ui-button-icon ui-icon fa-paper-plane-o"></span>
                                                                <span class="ui-button-icon-space"> </span>
                                                                <span>Send</span>
                                                            </button>
                                                            <button class="spc__button spc--height-medium button__cancel" ng-click="cancel()" ng-show="currentReplyId == activity.id">Cancel</button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
