<div class="com__communication">
	<div class="spc__accordion crm-accordion-wrapper collapsed">
		<div class="crm-accordion-header crm-master-accordion-header">
			<span>Communication&nbsp;</span>
			<span ng-if="(sms.count + email.count) === 0">(no messages)</span>
			<span ng-if="(sms.count + email.count) === 1">(1 message)</span>
			<span ng-if="(sms.count + email.count) > 1">{{'(' + (sms.count +  email.count) + ' messages)'}}</span>
		</div>
		<div class="crm-accordion-body">
			<div class="com__block-wrap">
                <div ng-if="(sms.count + email.count) === 0" class="com__empty-result">
                    <span>No messages</span>
                </div>

                <sms-communication model="sms"></sms-communication>

                <email-communication model="email"></email-communication>

			</div>
		</div>
	</div>
</div>
