<div class="qa__quick-actions">
	<div class="crm-accordion-wrapper collapsed">
		<div class="crm-accordion-header crm-master-accordion-header">Quick actions</div>
		<div class="crm-accordion-body">
			<div class="qa__block-wrap">
				<div class="qa__panel-wrap">
					<button class="qa__panel-button"
						ng-class="{'active' : ctrl.model['activeAction'] == 'doNotSms'}"
						ng-click="runQuickAction('doNotSms');">
						Do not SMS
					</button>
					<button class="qa__panel-button"
						ng-class="{'active' : ctrl.model['activeAction'] == 'manageEmailSubscriptions'}"
						ng-click="runQuickAction('manageEmailSubscriptions');">
						Manage Email Subscriptions
					</button>
					<button class="qa__panel-button"
						ng-class="{'active' : ctrl.model['activeAction'] == 'exampleAction'}"
						ng-click="runQuickAction('exampleAction');">
						Example action.
					</button>
				</div>
				<div class="qa__actions-wrap">

					<div class="qa__preloader">
						<div class="crm-container">
							<div class="dataTables_processing"></div>
						</div>
					</div>

					<div ng-switch="ctrl.model['activeAction']" class="qa__action-wrap">

						<div ng-switch-when="doNotSms">
							<div class="qa__action-item-wrap">
								<div class="qa__action-item-head">
									<button class="button__cancel" ng-click="closeAction();">Cancel</button>
									<div class="qa__action-name">Do not SMS</div>
								</div>
								<div class="qa__action-item-body">
									<do-not-sms model='ctrl.model'></do-not-sms>
								</div>
							</div>
						</div>

						<div ng-switch-when="manageEmailSubscriptions">
							<div class="qa__action-item-wrap">
								<div class="qa__action-item-head">
									<button class="button__cancel" ng-click="closeAction();">Cancel</button>
									<div class="qa__action-name">Manage Email Subscriptions</div>
								</div>
								<div class="qa__action-item-body">
									<manage-email-subscriptions model='ctrl.model'></manage-email-subscriptions>
								</div>
							</div>
						</div>

						<div ng-switch-when="exampleAction">
							<div class="qa__action-item-wrap">
								<div class="qa__action-item-head">
									<button class="button__cancel" ng-click="closeAction();">Cancel</button>
									<div class="qa__action-name">Example action</div>
								</div>
								<div class="qa__action-item-body">
									<example-action model='ctrl.model'></example-action>
								</div>
							</div>
						</div>

						<div ng-switch-default>
							<div class="qa__action-item-wrap">
								<div class="qa__no-actions-message">Please choose a quick action from the left.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
