<div class="sc__position-relative">
  <details class="crm-accordion-bold">
    <summary>Quick actions</summary>
    <div class="crm-accordion-body">
      <div class="sc__flex sc__gap-10">
        <div class="qa__panel-wrap">
          <div class="panel">
            <div class="panel-heading">Actions</div>
            <div class="panel-body">
              <button class="btn btn-secondary"
                ng-class="{'active' : model['activeAction'] == 'doNotSms'}"
                ng-click="runQuickAction('doNotSms');"
              >
                Do not SMS
              </button>
              <button class="btn btn-secondary"
                ng-class="{'active' : model['activeAction'] == 'manageEmailSubscriptions'}"
                ng-click="runQuickAction('manageEmailSubscriptions');"
              >
                Manage Email Subscriptions
              </button>
            </div>
          </div>
        </div>
        <div class="qa__actions-wrap">
          <div class="qa__preloader">
            <h5>loading...</h5>
          </div>

          <div ng-switch="model['activeAction']" class="qa__action-wrap">
            <div ng-switch-when="doNotSms">
              <div class="panel">
                <div class="panel-body">
                  <div class="qa__action-item-body">
                    <do-not-sms model='model'></do-not-sms>
                  </div>
                </div>
              </div>
            </div>

            <div ng-switch-when="manageEmailSubscriptions">
              <div class="panel">
                <div class="panel-body">
                  <div class="qa__action-item-body">
                    <manage-email-subscriptions model='model'></manage-email-subscriptions>
                  </div>
                </div>
              </div>
            </div>

            <div ng-switch-default>
              <div>
                <div>Please choose a quick action from the left.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </details>
</div>
