<div class="rc__recent-cases">
	<div class="spc__accordion crm-accordion-wrapper collapsed">
		<div class="crm-accordion-header crm-master-accordion-header">
			<span>Recent cases {{'[' + recentCases['length'] + ']'}}</span>
		</div>
		<div class="crm-accordion-body">
			<div class="rc__block-wrap">
				<table class="crm-search-results spc__table">
					<thead>
					<tr>
						<th class="rc__column-head">ID</th>
						<th class="rc__column-head">Date</th>
						<th class="rc__column-head">Subject</th>
						<th class="rc__column-head">Status</th>
						<th class="rc__column-head">&nbsp;</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="recentCase in recentCases" class="crm-entity">
						<td>
							<div class="rc__column rc__column-case-id">
								#{{recentCase.id}}
								<span ng-if="model['id'] === recentCase.id">(current)</span>
							</div>
						</td>
						<td>
							<div class="rc__column rc__column-start-date">{{formatDateAndTime(recentCase.start_date, false)}}</div>
						</td>
						<td>
							<div class="rc__column rc__column-subject">{{recentCase.subject}}</div>
						</td>
						<td>
							<div class="rc__column rc__column-status">
								<div>{{recentCase['status_id.label']}}</div>
							</div>
						</td>
						<td>
							<div class="rc__column rc__column-links">
								<a href="{{recentCase.link}}" class="action-item crm-hover-button" >Manage case</a>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
